



<div class="container">
    <div id="productEntryForm" class="col-sm-12 row">
        <div class="col-sm-6 col">
            <label for="pid">Enter Product Id:</label>
        </div>
        <div class="col-sm-6 col">
            <input type="text" name="pid" #pid>
        </div>
    </div>

    <div id="productEntryForm" class="col-sm-12 row">
        <div class="col-sm-6 col">
            <label for="pname">Enter Product Name:</label>
        </div>
        <div class="col-sm-6 col">
            <input type="text" name="pname" #pname>
        </div>
    </div>

    <div id="saveProduct" class="col-sm-12 row">
        <div class="col" style="text-align: center">
            <button class="btn-primary" (click)="saveProduct(pid.value,pname.value)">Save Product</button>
        </div>
    </div>

    <div [ngSwitch]="done">
        <span *ngSwitchCase="true">Matched true and yes</span>
        <span *ngSwitchDefault>Default if done is FALSE</span>
    </div>
    

    <div id="ProductListing" class="col-sm-12 row">
        <div class="col-sm-12" *ngFor="let product of productArray">
            id:{{product.pid}}<br>
            name:{{product.pname}}

        </div>
    </div>
</div>

<!-- <p [ngStyle]="{'color': myColor, 'font-weight':myFont}">Red and bold string</!-->


<!-- <select name="myColor" (click)="myColor=$event.target.value"> -->

        <p [ngStyle]="myStyle">Red and bold string No:2</p>
<select name="myColor" (click)="text=$event.target.value; updateStyle()">
<option value="red">Red</option>
<option value="green">Green</option>


</select>

<h1>{{text}}</h1>

<h1>{{text1}}</h1>

<h1>{{text2}}</h1>

<h1 [className]="disabled ? bluebolddisabled : blueBold" [innerText]="text"></h1>

<!-- <h1 [ngClass]="{blueboulder: condition}" [innerText]="text1"> -->

<h1 [class.blueBold]="condition" [innerText]="text2"></h1>

<h1 [ngClass]= "{blueBold:condition}" [innerText]="text1" ></h1>


