
@import '../node_modules/bootstrap/scss/bootstrap';

.blueBold{
    color: blue;
    font-weight:bold

}

.blueBoldDisabled{
    color: #A9A9A9;
    font-weight:bold
}

    
    .greenBold{
        color: green;
    font-weight:bold
    }
